html {
	min-height: 100vh
}

body {
	align-items: center;
	background: linear-gradient(-45deg, #F06292, #FFF59D);
	cursor: default;
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	line-height: 1.35em;
	margin: 0
}

* {
	box-sizing: border-box;
	transition: all 0.23s ease-in-out
}

a {
	color: inherit;
	text-decoration: none
}

h1 {
	font-size: 2em;
	line-height: 1em;
	margin: 0
}

h3 {
	font-size: 1.6em;
}

p {
	margin: 0
}

img {
	width: 100%
}

abbr {
	text-decoration: none
}

input {
	background: none;
	border: 0;
	padding: 2pt 3pt
}
input:focus {
	outline: none
}

main {
	background: rgba(245,245,245, 0.21);
	border-radius: 2px;
	box-shadow: 0 1px 7px -2px rgba(0,0,0, 0.47);
	display: flex;
	filter: shadow(5px);
	flex-direction: column;
	margin: 55pt 0;
	max-width: 650px;
	overflow: hidden;
	position: relative;
	width: 75vw
}

@media (max-width: 550px) {
	main {
		background: none;
		border: 0;
		border-radius: 0;
		margin: 0;
		min-height: 100vh;
		width: 100%
	}
}

#title {
	padding: 45pt 50pt 0 50pt;
}

#description {
	color: #999;
	font-size: 0.8em;
	padding: 0 50pt 10pt 53pt
}

form {
	background: #FFF;
	flex-grow: 1
}

section > h3 {
	border-bottom: 1px solid #E0E0E0;
	margin: 10pt 20pt 5pt 20pt;
	padding: 5pt 16pt
}

@media (max-width: 450px) {
	section > h3 {
		margin: 10pt 0 5pt
	}
}

section > h3 + p {
	padding: 0 35pt 12pt 35pt
}

#process {
	/* TODO set new gradient for this bar */
	background: linear-gradient(76deg, #F48FB1, #B39DDB) fixed;
	border: 0;
	border-radius: 2px;
	height: 2px;
	margin: 0;
	transition: width 1.1s ease-out
}

.contain {
	align-items: center;
	display: flex;
	justify-content: space-around;
	min-width: 350px;
	padding: 0 50pt 10pt 50pt
}

@media (max-width: 550px) {
	/* TODO */
	.contain {
		min-width: 100%
	}
	
	.contain.mobNoPad {
		padding: 0 0 10pt
	}
}

.contain.layout-col {
	flex-direction: column
}

.item.field {
	border-bottom: 2px solid #E0E0E0;
	display: flex;
	justify-content: center;
	margin-bottom: 6pt;
	max-width: 650px;
	min-width: 300px
}

.item.field > label {
	font-weight: bold;
	flex-shrink: 0;
	padding: 10pt 5pt 6pt 5pt;
	width: 50px
}

@media (max-width: 400px) {
	.item.field > label {
		display: none
	}
}

.item.field > input {
	padding: 10pt 16pt 6pt 16pt;
	width: 100%
}
.item.field > input:focus {
	border-bottom: 2px solid #F06292;
	font-size: 1em;
	margin-bottom: -2px
}

@media (max-width: 550px) {
	.contain.gallery {
		/* TODO gallery */
	}
}

.card {
	align-items: center;
	border: 1px solid #EEE;
	border-radius: 3pt;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	min-height: 90px;
	overflow: hidden;
	width: 110px
}

@media (max-width: 550px) {
	.card {
		/* TODO */
	}
}

.contain .card {
	margin-right: 5pt
}
.contain .card:last-child {
	margin-right: 0
}

.contain.layout-col .card {
	margin-bottom: 5pt
}
.contain.layout-col .card:last-child {
	margin-bottom: 0
}

.card > span {
	align-items: center;
	display: flex;
	flex-grow: 1;
	padding: 3pt;
	text-align: center
}

.card > input[type='radio'] {/* TODO radio need to stylished*/
	display: none
}

.card > .checkRadio {
	align-items: center;
	background: #EEE;
	content: '';
	display: flex;
	height: 16pt;
	justify-content: center;
	width: 100%
}

.card .fa-check {
	color: #FFF;
	opacity: 0
}

.card > input[type='radio']:checked + .checkRadio {
	background: #F48FB1
}

.card > input[type='radio']:checked + .checkRadio > .fa-check {
	opacity: 1
}

#animeList {
	align-items: start
}

.inline-log {
	background: #F48FB1;
	border-radius: 30pt;
	cursor: pointer;
	margin: 0 5pt 5pt 0;
	padding: 2pt 9pt
}

.inline-log:last-child {
	margin:0
}

.inline-log > input[type='checkbox'] {
	display: none
}

.inline-log > span {
	color: #FFF
}

.inline-log > span:before {
	color: #FFF;
	content: '\f00c';
	display: inline-block;
	font-family: "Font Awesome 5 Free";
	font-size: 0.9em;
	height: 1em;
	line-height: 1em;
	opacity: 0;
	transition: all 0.26s ease-in;
	vertical-align: middle;
	width: 0
}

.inline-log > input[type='checkbox']:checked + span {
	color: #FFF
}

.inline-log > input[type='checkbox']:checked + span:before {
	margin-right: 5pt;
	opacity: 1;
	width: 1em
}

textarea {
	background: #FAFAFA;
	border: 1px solid #F0F0F0;
	border-radius: 2pt;
	margin: 0;
	min-height: 50pt;
	padding: 7pt 10pt;
	resize: vertical;
	width: 100%
}
textarea:focus {
	background: #F0F0F0;
	border-color: #E9E9E9;
	outline: none
}

@media (max-width: 550px) {
	textarea {
		border-width: 1px 0;
		min-height: 100pt;
		padding: 14pt 20pt
	}
}

.imgCover > img {
	display: block
}

#dropdown {
	background: #FAFAFA;
	border: 1px solid #F0F0F0;
	margin-top: 5pt;
	padding: 8pt 12pt
}
#dropdown:focus {
	background: #F0F0F0;
	border-color: #E9E9E9;
	outline: none
}

@media (max-width: 550px) {
	#dropdown {
		border: 0;
		border-bottom: 1px solid #F0F0F0;
		margin: 0;
		width: 100%
	}
}

#goodbye .contain p {
	margin-bottom: 5pt;
	text-align: justify;
	width: 100%
}

#goodbye .contain p:last-child {
	text-align: right
}

footer {
	padding: 10pt 40pt 20pt 40pt
}

nav {
	display: flex;
	justify-content: center
}

.btn {
	background: #F06292;
	border: 0;
	color: #FAFAFA;
	cursor: pointer;
	font-size: 0.9em;
	margin-top: 10pt;
	padding-top: 6pt;
	padding-bottom: 6pt;
	transition: all 0.23s ease-in-out
}
.btn:hover {
	background: rgba(240,98,146, 0.8)
}
.btn:focus {
	outline: none
}
.btn:disabled {
	background: #FCE4EC;
	color: #F8BBD0
}

.btn.left {
	border-radius: 20pt 0 0 20pt;
	padding-left: 11pt;
	padding-right: 4pt
}
.btn.left:active, .btn.left:focus {
	padding-left: 16pt
}

.btn.right {
	border-radius: 0 20pt 20pt 0;
	padding-left: 4pt;
	padding-right: 11pt
}
.btn.right:active, .btn.right:focus {
	padding-right: 16pt
}

.btn.mono {
	border-radius: 20pt;
	padding-left: 11pt;
	padding-right: 11pt
}
.btn.mono:active, .btn.mono:focus {
	padding-left: 16pt;
	padding-right: 16pt
}


/* Top prorities must set a the end of file */
.active {
	display: block;
	height: auto;
	width: auto
}
.inactive {
	display: none;
	height: 0;
	width: 0
}