#fcc_test_suite_wrapper {
	/* use it to turn off test suite */
	display: none
}

/* Reset */
html {
	height: 100vh;
	scroll-behavior: smooth
}

body {
	background: #efeee7;
	cursor: default;
	font-family: 'Spectral', 'Noto Serif JP';
	font-size: 11pt;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin: 0;
	min-height: 100%
}

* {
	box-sizing: border-box;
	transition: all 0.23s ease-in-out
}

a {
	color: inherit;
	text-decoration: none
}

p {
	margin: 0
}

small {
	font-size: 0.7em;
	letter-spacing: 0.03em;
	line-height: 1em
}

h1, h2, h3,
h4, h5, h6 {
	margin: 0
}

h1 {
	font-size: 2.25em
}

h2 {
	font-size: 2em
}

h3 {
	font-size: 1.75em
}

h4 {
	font-size: 1.5em
}

h5 {
	font-size: 1.25em
}

h6 {
	font-size: 1em
}


/* Structure */
#veil { /* It is a kind of curtain */
	align-items: center;
	background: #ffeace;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	line-height: normal;
	position: fixed;
	transition: opacity 360ms ease-in-out;
	width: 100%;
	writing-mode: vertical-rl;
	z-index: 9999
}
#veil.liftUp {
	opacity: 0
}

#veil > p {
	font-size: 2.75em;
	font-weight: 400
}

#modal {
	align-items: center;
	background: rgba(0,0,0, .69) url(https://lh3.googleusercontent.com/KxByYXPzpzI1MflPRRT2ULvnZ42zklGDXruobTnUYUKJjzldAXqWNrsmoRMiUMowFmGQ7-XTRwrUw-F0-QVHLuwEgrpHjogFTQlXYGa9uHaSshtJQHuQsepaIHdafqiCT6MViuJl2L407Zl_T7hC_U7Cr9XQsL-GQmTr5kSKsrw_iRGIld1D_bi26XJquzZlEBiE4RxOMSqun0lXenRVy7XKs-QkDvyfopFXFScenmMdGyggu8cHxvxD7Wohfeh8_Bjo3bByvsaGbDCfa1KmTzDPiNdOZdxrPi9mDpiNa-AHyCB5NTcl0hsIfPnJ9oJAD97vdP4s4dE4xYSvr57P1X8lsg21EPQBNbyLr9uWT4eZp5lvom2ouOEBr4wxPzBWv143D8xR9qeMVKiDCe6NYCN06fDQzEeKvMA0xqpGhs4A3dvGnSnJQVZL2S8xuwLLC9CndBAVWBb8kTkvCULrs1gOKhhInIgQjzRjBx7HYBNpSW5fJ82j_Ov_5fcWgdSB-R2RyGHPogK6vmF7Tq1B5FRNcjn8dRo46bMdRtsS_KN7zT3smbs0nHUvnJQUrMxmk5H5r5kVWmTQZrYB-n_SxKm1A99M5UmTzbPwBN0ELpYG79rz9mr_oS9YouKrNiU=s2-no);
	display: flex;
	height: 100vh;
	justify-content: center;
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9998
}

#header {
	background: #ffeace;
	box-shadow: 0 0 2px 0 rgba(0,0,0, 0.3);
	display: flex;
	justify-content: space-between;
	line-height: 1;
	padding: 4pt 20pt;
	position: sticky;
	top: 0;
	z-index: 9990
}

#header > * {
	display: flex
}

#header-img {
	height: 38pt
}

#nav-bar {
	align-items: center;
	justify-content: space-around
}

#nav-bar > a {
	display: block;
	padding: 2pt 12pt
}
#nav-bar > a:hover {
	color: #FFF;
	text-shadow: 0 0 5pt #000
}


main {
	overflow: hidden;
}

section {
	min-height: 100vh;
	padding: 8pt 20pt
}

.box {
	display: flex;
	justify-content: center;
	margin: 15pt 0
}


#news {
	align-items: center;
	display: flex;
	flex-direction: column
}

#news .box {
	box-shadow: 0 1px 10px -4px rgba(0,0,0, 0.5);
	flex-direction: column
}

#form {
	margin: 15pt 30pt 18pt
}

#form > * {
	display: block
}

#form > h2 {
	line-height: 1.2em;
	margin-bottom: 8pt
}

#email, #submit {
	border: 0;
	line-height: 1.5em;
	padding: 5pt 10pt
}

#email {
	border-radius: 1pt 0 0 1pt;
	float: left;
	margin: 0;
	width: 75%;
}
#email:focus {
	background: #DDD;
	outline: none
}

#submit {
	background: #DDD;
	border-radius: 0 1pt 1pt 0;
	cursor: pointer
}
#submit:focus {
	background: #CCC;
	outline: none
}

#form > small {
	clear: both;
	margin-left: 4pt;
	margin-top: 3pt
}

article.entry {
	background: #FFF;
	cursor: pointer;
	
	width: 100%
}

.entry.date {
	background: #DDD;
	float: left;
	font-size: 0.75em;
	padding: 5pt 15pt
}
article:hover > .entry.date {
	background: #ffeace
}

.entry.headline {
	background: #DDD;
	padding: 5pt 15pt
}
article:hover > .entry.headline {
	background: #ffeace
}

.entry.summary {
	float: none;
	height: 0;
	overflow-y: hidden
}

.entry.summary.show {
	display: block;
	height: auto !important;
	margin: 8pt 15pt 10pt
}


#movie {
	align-items: center;
	display: flex;
	justify-content: center
}

#video {
	border: 0;
	width: calc(100% - 40px);
	height: calc(100% - 40px)
}

#movie .box {
	background: rgba(255,255,255, 0.15);
	border-radius: 1.5pt;
	box-shadow: 0 1px 10px -4px rgba(0,0,0, 0.5);
	flex-direction: column;
	overflow: hidden;
	position: relative;
	width: calc(74vh * 19 / 10) /* 19:10 */
}

.video-cover {
	cursor: pointer;
	position: relative;
	width: 100%
}

.video-play {
	align-items: center;
	background:
		rgba(0,0,0, .17)
		url(https://lh3.googleusercontent.com/KxByYXPzpzI1MflPRRT2ULvnZ42zklGDXruobTnUYUKJjzldAXqWNrsmoRMiUMowFmGQ7-XTRwrUw-F0-QVHLuwEgrpHjogFTQlXYGa9uHaSshtJQHuQsepaIHdafqiCT6MViuJl2L407Zl_T7hC_U7Cr9XQsL-GQmTr5kSKsrw_iRGIld1D_bi26XJquzZlEBiE4RxOMSqun0lXenRVy7XKs-QkDvyfopFXFScenmMdGyggu8cHxvxD7Wohfeh8_Bjo3bByvsaGbDCfa1KmTzDPiNdOZdxrPi9mDpiNa-AHyCB5NTcl0hsIfPnJ9oJAD97vdP4s4dE4xYSvr57P1X8lsg21EPQBNbyLr9uWT4eZp5lvom2ouOEBr4wxPzBWv143D8xR9qeMVKiDCe6NYCN06fDQzEeKvMA0xqpGhs4A3dvGnSnJQVZL2S8xuwLLC9CndBAVWBb8kTkvCULrs1gOKhhInIgQjzRjBx7HYBNpSW5fJ82j_Ov_5fcWgdSB-R2RyGHPogK6vmF7Tq1B5FRNcjn8dRo46bMdRtsS_KN7zT3smbs0nHUvnJQUrMxmk5H5r5kVWmTQZrYB-n_SxKm1A99M5UmTzbPwBN0ELpYG79rz9mr_oS9YouKrNiU=s2-no);
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%
}
.video-cover:hover #video-play {
	background: rgba(0,0,0, 0.34)
}

.video-btn {
	display: block;
	height: 26%;
	width: 26%
}

.video-btn > path {
	fill: rgba(255,255,255, 0.5)
}
.video-cover:hover path {
	fill: rgba(255,255,255, 0.75)
}

.video-cover > img {
	display: block;
	width:100.5%
}

.video-title {
	margin: 6pt 5pt 5pt;
	text-align: center
}


#book {}

#book .box {
	flex-wrap: wrap
}

.box > .books {
	background: #FFF;
	box-shadow: 0 0 4pt -1pt rgba(0,0,0, 0.34);
	display: flex;
	height: 250px;
	margin: 5pt;
	width: calc(230px * 19 / 9)
}

.books.col {}

.col.left {
	flex-grow: 1;
	margin-right: 6pt;
	position: relative;
	height: 250px
}

.col.right {
	display: flex;
	flex-direction: column;
	flex-grow: 3;
	font-size: 0.9em;
	padding: 10pt
}

.books.cover {
	display: block;
	height: 100%
}

.books.vol {
	align-items: center;
	background: rgba(0,0,0, 0.76);
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	position: absolute;
	text-shadow: 0 0 1pt rgba(255,255,255, 0.89);
	top: 0;
	width: 100%
}
.books:hover .vol {
	opacity: 1
}

.books.desc {
	overflow-y: auto;
	flex-grow: 1
}

.books.price {
	color: #777;
	font-size: 0.8em;
	text-align: right;
}


footer {
	letter-spacing: normal;
	line-height: 1.5em;
	padding: 30pt 15% 15pt
}

footer h1 {
	line-height: 1.2em
}

#footer {
	background: #010201;
	color: #FFF;
	text-align: justify
}

#footer > .signed {
	display: block;
	margin-top: 10px;
	text-align: right;
	width: 100%
}

/* Responsive Web > 1000px */
@media (min-width: 1000px) {
	#news .box {
		max-width: 1200px;
		width: 80%
	}
	
	#movie .box {
		max-width: 1600px
	}
	
	#footer {
		padding: 45pt 20% 20pt
	}

	#footer > p {
		margin-top: 10pt
	}
}


/* Responsive Web < 500px */
@media (max-width: 500px) {
	section {
		padding: 0
	}
	
	#news .box {
		box-shadow: none;
		width: 100%
	}
	
	#movie .box {
		border-radius: 0;
		box-shadow: 0 0 15pt -2pt rgba(0,0,0, 0.64);
		height: 80vh
	}
	
	#video-title {
		bottom: 0;
		color: #FFF;
		font-size: 1.6em;
		position: absolute;
		z-index: 9999
	}
	
	#book .box {
		overflow-x: auto
	}
	
	#footer {
		font-size: 0.9em;
		padding: 25pt 10% 10pt
	}
	
	#footer > p {
		margin-top: 5pt
	}
}