#fcc_test_suite_wrapper {
	/* use it to turn off test suite */
	display: none
}

/* Reset */
* {
	transition: all 0.19s ease-in-out
}

html {
	scroll-behavior: smooth
}

body {
	font-family: Roboto, sans-serif;
	font-size: 12pt;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh
}


a {
	color: inherit;
	text-decoration: none
}

h1, h2, h3,
h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	margin: 0
}

h1 {font-size: 2.2em}
h2 {font-size: 2em}
h3 {font-size: 1.8em}
h4 {font-size: 1.6em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

/* New Style */
#navbar {
	align-items: center;
	background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23c4c4c5' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") rgba(255,255,255, .55);
	box-shadow: 0 0 4px 1px rgba(0,0,0, .73);
	box-sizing: border-box;
	color: #141414;
	display: flex;
	height: 60px;
	justify-content: flex-end;
	padding: 5px 10px;
	position: fixed;
	text-transform: uppercase;
	width: 100%;
	z-index: 999
}

.navitem {
	margin: 0 20px
}
.navitem:hover {
	font-weight: bold
}

.screen {
	align-items: center;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 70px 10px 60px 10px
}

.screen > h3 {
	margin-bottom: 10px;
	text-transform: uppercase
}

.screen > .content {
	display: flex;
}

#welcome-section {
	background-image: url(https://images.unsplash.com/photo-1489389944381-3471b5b30f04?s=4868cc90c3c515fb1316574d9aff1640&w=2000&q=60)
}

#helloCode {
	background: rgba(0,0,0, 0.91);
	border-radius: 4px;
	color: green;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.9em !important;
	line-height: 0.9;
	max-width: 670px;
	overflow-x: auto;
	padding: 15px;
	white-space: nowrap
}

#projects {
	background-image: url(https://images.unsplash.com/photo-1496517463163-3550265405c1?s=1c8e9618d22aa2293c93c5e3ce14fcc0&w=2000&q=60)
}

.col {
	display: flex;
	flex-direction: column
}

.prj {
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 0 9px -3px rgba(0,0,0, 0.71);
	display: flex;
	flex-direction: column;
	height: 100%; /* Without this property, iframe couldn't set its height*/
	margin: 0;
	min-height: 100px
}

#featurePrj {
	height: 100%
}

.thumbnail {
	height: inherit;
	overflow: hidden;
	position: relative
}

.cover {
	align-items: center;
	display: flex;
	font-size: 3em;
	font-weight: lighter;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	text-transform: uppercase;
	width: 100%;
	z-index: 2
}
.cover:hover {
	background: rgba(0,0,0, .75);
	color: #FAFAFA;
	opacity: 1
}

.live {
	width: 200%;
	height: 200%;
	transform: scale(0.5);
	transform-origin: top left
}

.project-tile {
	padding: 8px 6px 3px 6px
}

#network {
	background-image: url(https://images.unsplash.com/photo-1496167117681-944f702be1f4?s=8a9e41e445772471708b74b0835e4c35&w=2000&q=60)
}

.links {
	align-items: center;
	flex-grow: 1;
	justify-content: space-around;
	width: 100%
}

.link {
	align-items: center;
	background: #FFF;
	border-radius: 50%;
	box-shadow: 0 1px 10px -4px rgba(0,0,0, 0.57);
	display: flex;
	font-size: 3.5em;
	height: 100px;
	justify-content: center;
	margin: 10px;
	padding-bottom: 0.5%;
	width: 100px
}
.link:hover {color: #FFF}
#twitter:hover {background: #4dabf7}
#profile-link:hover {background: #4caf50}
#dev:hover {background: #0F0F0F}

footer {
	background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23242424' fill-opacity='0.27' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") #131313;
	color: #FAFAFA;
	display: flex;
	font-size: 0.72em;
	font-weight: lighter;
	justify-content: space-between;
	line-height: 1.3;
	padding: 40px 30px
}

footer p {
	margin: 0;
}

footer .minimize {
	display: none
}
footer:hover .minimize {
	display: inline
}

footer > ul {
	margin: 0;
	padding: 0
}

ul > li {
	margin-left: 19px
}

/* stuff that can insert to anywhere */
.pad {
	height: 20px;
	width: 20px
}

.ico {
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	box-sizing: border-box;
	font-family:"Font Awesome 5 Brands";
	font-style:normal;
	font-variant:normal;
	text-rendering:auto;
	line-height: 0.5
}


@media (max-width: 560px) {
	#welcome-section {
		padding: 0
	}
	
	#welcome-section > h1 {
		height: 100vh;
		width: 100%
	}
	
	#helloCode {
		align-items: center;
		border-radius: 0;
		box-sizing: border-box;
		display: flex;
		height: 100%;
		padding: 70px 10px 60px 10px
	}
	
	.thumbnail {
		height: 157px /*dirty trick, need a better one*/
	}
	
	.content, footer {
		flex-direction: column
	}
}