#fcc_test_suite_wrapper {
	/* use it to turn off test suite */
	display: none
}

html {
	min-height: 100vh
}

body {
	align-items: center;
	background: linear-gradient(#0A0A0A, #1F1F1F);	
	color: #FAFAFA;
	cursor: default;
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	line-height: 1.35em;
	margin: 0
}

* {
	box-sizing: border-box
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.13s ease-in-out
}
a:hover {
	color: #F48FB1
}

.hashtag {
	background: #F48FB1;
	border-radius: 3px;
	display: inline-block;
	line-height: 1.15em;
	padding: 0 2pt;
	transition-property: background, color;
	transition-duration: 0.13s;
	transition-timing-function: ease-in-out
}
.hashtag:hover {
	background: transparent
}
.hashtag:before {
	content: '#';
	font-size: 0.8em;
	vertical-align: top
}

h1, h2, h3,
h4, h5, h6 {
	margin: 0;
	font-family: 'Oswald', sans-serif
}

h1 {
	font-size: 5em;
	line-height: 1em
}

h3 {
	font-size: 2.61em;
	line-height: 1.7em
}

h4 {
	font-size: 1.56em;
	line-height: 1.25em
}

h5 {
	font-size: 1.47em;
	line-height: 1.7em
}

p, figure {
	margin: 0
}

p, li {
	text-align: justify
}

small {
	font-size: 0.7em
}

.god {
	color: #F06292
}

header, main, footer {
	background: #34363F;
	margin: 0;
	max-width: 1600px;
	width: 80vw
}

@media (max-width: 600px) {
	header, main, footer {
		width: 100%
	}
}

header {
	border-radius: 3pt 3pt 0 0;
	flex-basis: 10vh;
	margin-top: 5vh;
	padding: 3% 4% 2% 4%
}

@media (max-width: 600px) {
	header {
		border-radius: 0;
		margin: 0
	}
}

#title {
	text-align: center;
	text-transform: uppercase
}

#subtitle {
	font-size: 0.8em;
	text-align: center;
	text-transform: uppercase
}

main {
	flex-basis: 50vh
}

#cover {
	position: relative
}

#cover img {
	display: block;
	width: 100%
}

figcaption {
	bottom: -8%;
	left: 50%;
	max-width: 65%;
	min-width: 40%;
	opacity: 0;
	position: absolute;
	transition: opacity 0.2s, bottom 0.4s;
	transition-timing-function: ease-in-out
}
#cover:hover figcaption {
	bottom: 2%;
	opacity: 1
}

figcaption > .wrap {
	background: rgba(0,0,0, 0.74);
	border-radius: 5px;
	left: -50%;
	width: 100%;
	padding: 5px 0;
	position: relative
}

.wrap h4 {
	padding: 0 7px;
	text-align: center
}

.wrap p {
	padding: 0 7px;
	text-align: center
}

#cover p:last-child {
	border-top: 1px solid rgba(236,64,122 ,0.6);
	margin-top: 6px;
	padding-top: 2px;
	text-align: right
}

#content {
	margin: 3% 0;
}

#content > p {
	margin: 0 5% 1em 5%
}

.tribute-title {
	align-items: stretch;
	display: flex
}

@media (max-width: 600px) {
	.tribute-title {
		justify-content: center
	}
}

.tribute-title h3 {
	margin: 1% 1% 0 5%
}

.tribute-title div {
	align-items: center;
	display: flex;
	flex-grow: 3;
	margin: 1% 7% 0 0
}

@media (max-width: 600px) {
	.tribute-title div {
		display: none
	}
}

.tribute-title hr {
	background: #FFF;
	border: 0;
	height: 1px;
	width: 100%
}

#tribute-info {
	list-style-type: none;
	margin: 0;
	padding: 0
}

#tribute-info > li {
	margin: 0 5%;
	padding: 2% 0;
	transition: all 0.23s ease-out
}
#tribute-info > li:hover {
	background: #F5F5F5;
	color: #212121;
	margin: 0;
	padding: 2% 9%
}

#tribute-info .title {
	color: #F48FB1;
	float: left;
	font-size: 2em;
	line-height: 1.3em;
	padding-right: 6pt;
	transition: color 0.7 ease-out
}
#tribute-info li:hover .title {
	color: #C2185B
}

@media (max-width: 600px) {
	#tribute-info .title {
		display: block;
		float: none;
		font-size: 1.2em;
	}
}

footer {
	background: #282A31;
	border-radius: 0 0 3pt 3pt;
	flex-basis: 10vh;
	margin-bottom: 5vh
}

@media (max-width: 600px) {
	footer {
		border-radius: 0;
		margin: 0
	}
}

footer p {
	line-height: 1em;
	margin: 1% 3% 0 3%;
	text-align: center
}

footer nav {
	border-bottom: 1px solid #F8BBD0;
	padding-bottom: 2%;
	margin: 1% 4%;
	text-align: center
}

nav a {
	border-radius: 3pt;
	display: inline-block;
	line-height: 1.7em;
	margin: 0 3pt;
	padding: 0 3pt;
	transition-property: background-color
}
nav a:hover {
	background: #F48FB1;
	color: #FFF !important;
}

footer p:first-child {
	margin-top: 5%;
	text-align: left
}

footer p:last-child {
	padding-bottom: 4%
}

@media (max-width: 600px) {
	footer p:last-child {
		font-size: 0.8em
	}
}