#fcc_test_suite_wrapper {
	/* use it to turn off test suite */
	display: none
}

/* Reset */
* {
	transition: all 0.14s ease-in-out
}

html {
	scroll-behavior: smooth
}

body {
	display: flex;
	font-family: Roboto, sans-serif;
	font-size: 12pt;
	line-height: 1.54;
	margin: 0
}

a {
	color: inherit;
	text-decoration: none
}

h1, h2, h3,
h4, h5, h6 {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	margin: 0
}

h1 {font-size: 2.2em}
h2 {font-size: 2em}
h3 {font-size: 1.8em}
h4 {font-size: 1.6em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

p.img  {
	text-align: center
}

p.img > img {
	max-width: 100%
}

p:first-child {
	margin-top: 0
}

code {
	background: #E0E0E0;
	border-radius: 4pt;
	font-family: 'Courier New', Courier, monospace;
	line-height: 0.9;
	padding: 1pt 5pt
}

/* New elements */
#menu {
	background: #FFF;
	border: 0;
	border-radius: 50%;
	bottom: 2%;
	box-shadow: 1px 1px 2pt 0 #000;
	cursor: pointer;
	height: 40px;
	padding: 5px;
	position: fixed;
	right: 2%;
	width: 40px;
	z-index: 9900
}
#menu:focus {outline: 0}
#menu:hover {color: #8BC34A}
#menu:active {
	background: #8BC34A;
	color: #FFF
}

#menu.open > .fas:before {
	content: '\f0c9'
}

#menu.close > .fas:before {
	content: '\f00d'
}

#navbar {
	color: #FAFAFA;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
}

#navhead {
	margin: 20px 6px 2px 6px;
	text-align: center;
	text-transform: uppercase
}

#navhead > h1 {
	font-size: 3em;
	line-height: 0.85
}

#navhead > h6 {
	font-size: 1.1em
}

#navbody {
	height: 100%;
	margin: 15px 6px 4px 6px;
	overflow-y: auto
}

.nav-link {
	color: #FAFAFA;
	display: block;
	border-top: 1px solid #FFF;
	margin: 0 15px;
	padding: 20px 15px
}
.nav-link:first-child {border-top: 0}
.nav-link:hover {color: #7CB342}
.nav-link:active {text-shadow: 0 0 2pt #4CAF50}

#navpad {min-width: 220pt}

main {
	margin: 15px 20px
}

main a {
	color: #7CB342
}

.main-section {
	margin: 10px 5px;
	padding-top: 10px;
}

.main-section > header {
	display: flex;
	margin: 30px 0 0
}

.main-section > header > h1 {
	order: 1
}

.main-section > header > a {
	align-self: center;
	margin-top: -1px
}

.main-section > article {
	margin: 0 0 0 12px
}


/* Media queries */
@media (orientation: landscape) {
	#menu {display: none}
	
	#navbar {
		background: #212121;
		box-shadow: 0 0 5px #000;
		left: 0;
		width: 220pt;
	}

	.main-section > header > a {
		margin-left: 10px;
		order: 2
	}
}

@media (orientation: portrait), (max-width: 690px) {
	#menu {display: block}
	
	#navbar {
		background: rgba(33, 33, 33, 0.98) url('https://www.transparenttextures.com/patterns/black-paper.png');
		left: -100%;
		width: 100%;
		z-index: 9899
	}
	
	#navpad {
		display: none;
	}

	.main-section > header > a {
		margin-right: 10px;
		order: 0
	}
}