html,
body {
	min-height: 100vh;
}

body {
	background-color: #363333;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-family: Sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	display: grid;
	grid-template: 1fr / repeat(3, 230px);
	grid-auto-flow: row;
	grid-gap: 10px;
	gap: 10xp;
}

.project {
	background-color: #f6e9e9;
	color: #272121;
	overflow: hidden;
	border-radius: 2px;
	margin: 0;
}

.project-link {
	display: block;
	padding: 10px 15px;
}

.project-thumb {
	display: block;
	object-fit: cover;
	width: 200px;
	height: 150px;
}

.project-name {
	text-align: center;
	margin-top: 5px;
}
